<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484915421241-7lho3vi6rb9m8fb09bcfggac48hvv6v6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484915421241-7lho3vi6rb9m8fb09bcfggac48hvv6v6</string>
	<key>API_KEY</key>
	<string>AIzaSyBInCeFZRk9FYdKY5GiNuE5BEJWhRmMPdc</string>
	<key>GCM_SENDER_ID</key>
	<string>484915421241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mauroolivere.Pyt</string>
	<key>PROJECT_ID</key>
	<string>pyt-b3233</string>
	<key>STORAGE_BUCKET</key>
	<string>pyt-b3233.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484915421241:ios:93739aaa45eeaddbd9ede8</string>
</dict>
</plist>